In [ ]:
#https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Current-Year-To-Date-/5uac-w243

In [1]:
import geopandas as gpd

In [2]:
a = gpd.read_file('datasets/NYPD Complaint Data Current (Year To Date)/nypd_crimes.shp')

In [3]:
a.head()

,cmplnt_num,addr_pct_c,boro_nm,date_cmpln,time_cmpln,cmplnt_fr_,date_cmp_2,time_cmp_2,cmplnt_to_,crm_atpt_c,...,vic_sex,x_coord_cd,y_coord_cd,latitude,longitude,lat_lon_ad,lat_lon_ci,lat_lon_st,lat_lon_zi,geometry
0,261548672,43.0,BRONX,2023-01-07,00:00:00.000,21:30:00,None,None,(null),COMPLETED,...,D,1026226.0,236504.0,40.815726,-73.848350,None,None,None,None,POINT (-73.84835 40.81573)
1,265065361,69.0,BROOKLYN,2022-06-12,00:00:00.000,01:55:00,None,None,(null),COMPLETED,...,E,1012661.0,177364.0,40.653454,-73.897609,None,None,None,None,POINT (-73.89761 40.65345)
2,262612530,110.0,QUEENS,2022-09-09,00:00:00.000,00:55:00,2022-09-09,00:00:00.000,01:19:00,COMPLETED,...,F,1019164.0,210169.0,40.743481,-73.874004,None,None,None,None,POINT (-73.87400 40.74348)
3,261233867,123.0,STATEN ISLAND,2023-01-02,00:00:00.000,02:00:00,2023-01-02,00:00:00.000,02:10:00,COMPLETED,...,F,917367.0,125198.0,40.510063,-74.240524,None,None,None,None,POINT (-74.24052 40.51006)
4,264778583,30.0,MANHATTAN,2021-06-29,00:00:00.000,21:00:00,2021-06-29,00:00:00.000,21:30:00,COMPLETED,...,F,998164.0,241176.0,40.828637,-73.949722,None,None,None,None,POINT (-73.94972 40.82864)

In [4]:
a.columns

Index(['cmplnt_num', 'addr_pct_c', 'boro_nm', 'date_cmpln', 'time_cmpln',
       'cmplnt_fr_', 'date_cmp_2', 'time_cmp_2', 'cmplnt_to_', 'crm_atpt_c',
       'hadevelopt', 'housing_ps', 'jurisdicti', 'juris_desc', 'ky_cd',
       'law_cat_cd', 'loc_of_occ', 'ofns_desc', 'parks_nm', 'patrol_bor',
       'pd_cd', 'pd_desc', 'prem_typ_d', 'date_rpt_d', 'time_rpt_d',
       'station_na', 'susp_age_g', 'susp_race', 'susp_sex', 'transit_di',
       'vic_age_gr', 'vic_race', 'vic_sex', 'x_coord_cd', 'y_coord_cd',
       'latitude', 'longitude', 'lat_lon_ad', 'lat_lon_ci', 'lat_lon_st',
       'lat_lon_zi', 'geometry'],
      dtype='object')

In [10]:
data = a[(a['susp_sex'] == 'M') & (a['vic_sex'] == 'F')]

In [29]:
remove = ['lat_lon_ad','lat_lon_ci','lat_lon_st','lat_lon_zi']

In [31]:
ref_data = data.drop(columns=remove)

In [33]:
ref_data.drop_duplicates(inplace=True)

In [35]:
ref_data['ky_cd']

2         578.0
4         344.0
6         233.0
9         361.0
10        233.0
          ...
130185    344.0
130189    233.0
130191    106.0
130193    578.0
130198    126.0
Name: ky_cd, Length: 23280, dtype: float64

In [36]:
ref_data.to_file("crimes_filtered.shp", driver="ESRI Shapefile")